.idea
/target
/project
/_*
schema.ods
/Verifier/target
/Verifier/.*
/Verifier/project/project
/Verifier/project/target
/Verifier/modelardb
/__*
EvaluationTool.drawio.png
/*.odt
/output.db
/outputs
/Verifier_2/target
/Verifier_2/project
