.idea
/target
/project
/_*
schema.ods
/Verifier/target
/Verifier/.*
/Verifier/project/project
/Verifier/project/target
/Verifier/modelardb
/__*
EvaluationTool.drawio.png
/*.odt
/output.db
/outputs
Utilities/IoTDB-experiments/IoTB-Ingest-Transfer-Edge/target/
modelardb/
modelardb_data/
