.idea
/target
/project
/_*
schema.ods
/Verifier/target
/Verifier/.*
/Verifier/project/project
/Verifier/project/target
/Verifier/modelardb
/__*
EvaluationTool.drawio.png
/*.odt
/output.db
/outputs
Utilities/IoTDB-experiments/IoTB-Ingest-Transfer-Edge/target/
modelardb_data/
utils/__pycache__
Baselines/AGG-Utilities/__pycache__/
Baselines/IoTDB-experiments/outputs/
Baselines/IoTDB-experiments/iotdb_data/
